# Node modules
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
myenv/
.Python

# VSCode
.vscode/
.history/

# OS files
.DS_Store
Thumbs.db

# Build output
build/
dist/
*.egg-info/

# Logs
*.log

# Environment files
.env
.env.*

# Coverage
htmlcov/
.coverage
coverage.xml

# Jupyter
.ipynb_checkpoints/

# React
frontend/build/
UI/build/